/* FONTS FAMILY
-Montserrat
-Poppins
-Inter
-Geist
-Lato
-Manrope
-Nunito Sans
-Roboto
-Work Sans
-Open Sans

LINE HEIGHT
-paragraph 1.5



FONT WEIGHT
-heading 600
-paragraph 300

FONT SIZE
-7rem [extra large]
-2rem average
-1rem [paragraph]
-.875rem [tiny text]

COLOR

CLAMP
-padding [4rem, 12vw, 20rem]
-padding [2rem, 8vw, 7rem]
-heading extra [2rem, 5vw, 8rem]
-heading normal [2rem, 5vw, 4rem]

BACKGROUND COLOR
--white #ffffff, #f5fadb
--black #343434,

BUTTON
-padding .5em .8em
-font-weight bold
border-radius .3em */


:root {
  --max-width: 1100px;
  --border-radius-large: .75em;
  --border-radius-medium: .3em;
  --font-main: 'Montserrat', 'Arial', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
  
  --heading-big: clamp(1.5rem, 10vw, 3rem);
  --heading-medium: clamp(2rem, 5vw, 8rem);
  --heading-small: clamp(1.4rem, 5vw, 2.5rem);
  --paragraph: 1rem;

  --padding-large: clamp(4rem, 12vw, 20rem);
  --padding-medium: clamp(2rem, 8vw, 7rem);

  
  --color-pri: rgb(33, 46, 223);
  --color-sec: rgb(86, 134, 230);
  --color-alt: rgb(255, 95, 55);

  --color-grey-1: rgb(214, 214, 214);
  --color-grey-2: rgb(185, 185, 185);
  --color-grey-3: grey;
}

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background: #fff;
  font-family: var(var(--font-main));
  line-height: 1.5;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  all: unset;
}

.btn {
  padding: .5em .8em;
  border-radius: .3em;
  font-weight: 700;
  display: inline-block;
  background: #ffffff;
  color: #000000;
  word-break: keep-all;
  text-wrap: nowrap;
}

.btn_inv {
  padding: .5em .8em;
  border-radius: .3em;
  font-weight: 700;
  display: inline-block;
  background: #000000;
  color: #ffffff;
  word-break: keep-all;
  text-wrap: nowrap;
}


.logo {
  height: 48px;
  width: auto;
}

@media screen and (max-width: 700px) {
  /* styling for mobile screen */
}